
<md-content class="md-padding  header-colorize-base" layout-xs="column" layout="row" layout-wrap="layout-wrap">
  <div class="fade-in" flex-xs="" flex-sm="50" flex-gt-sm="33" flex-gt-md="25" layout="column" data-ng-repeat="commic in fv.favoritesComics" data-ng-show="fv.favoritesComics">
    <md-card class="actions__wrapper-fixed">
      <md-card-actions class="actions__fixed" layout="row" layout-align="end end">
        <md-button class="md-icon-button" aria-label="Favorite" data-ng-click="fv.removeFavorite(commic.id)"><i class="material-icons" style="color:red;">remove_circle</i></md-button>
      </md-card-actions>
      <div class="wrapper-card-image actions__clickable" data-ng-click="showDetails(commic.id)" title="See more about {{ commic.title }}"><span class="md-card-image" role="img" data-ng-style="{'background-image':'url('+commic.thumbnail.path+'.'+commic.thumbnail.extension+')'}" alt="{{ commic.title }}"></span></div>
      <md-card-title layout-align="end center">
        <md-card-title-text class="actions__clickable" data-ng-click="showDetails(commic.id)" title="See more about {{ commic.title }}"><span class="md-title">{{ commic.title}}</span></md-card-title-text>
        <md-button class="md-icon-button" aria-label="link" data-ng-href="{{commic.urls[0].url}}" target="_blank" title="View in Marvel Store"><i class="material-icons" style="color: gray;">link</i></md-button>
      </md-card-title>
    </md-card>
  </div>
</md-content>