
<md-content class="md-padding padding-large bg-base">
  <md-autocomplete placeholder="What's you search?" md-min-length="3" md-delay="300" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in vm.fetchCommics(searchText)" md-selected-item-change="vm.selectedItem(item)" md-item-text="item.title">
    <md-item-template>{{item.title}}</md-item-template>
    <md-not-found>No states matching</md-not-found>
  </md-autocomplete>
</md-content>
<md-content class="md-padding  header-colorize-base" layout-xs="column" layout="row" layout-wrap="layout-wrap" infinite-scroll="vm.loadMore()">
  <div class="fade-in" flex-xs="" flex-sm="50" flex-gt-sm="33" flex-gt-md="25" layout="column" ng-repeat="commic in commics" ng-show="commics">
    <md-card class="actions__wrapper-fixed">
      <md-card-actions class="actions__fixed" layout="row" layout-align="end end">
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="favorite(commic)"><i class="material-icons" data-ng-style="commic.favorited ? { 'color': colorHeart, 'animation': 'bounce .3s linear' } : { 'color': 'white' }">favorite</i></md-button>
      </md-card-actions>
      <div class="wrapper-card-image actions__clickable" title="See more about {{ commic.title }}" ng-click="showDetails(commic.id)"><span class="md-card-image" role="img" data-ng-style="{'background-image':'url('+commic.thumbnail.path+'.'+commic.thumbnail.extension+')'}" alt="{{ commic.title}}"></span></div>
      <md-card-title layout-align="end center">
        <md-card-title-text class="actions__clickable" title="See more about {{ commic.title }}" ng-click="showDetails(commic.id)"><span class="md-title">{{ commic.title}}</span></md-card-title-text>
        <md-button class="md-icon-button" aria-label="link" ng-href="{{commic.urls[0].url}}" target="_blank" title="View in Marvel Store"><i class="material-icons" style="color: gray;">link</i></md-button>
      </md-card-title>
    </md-card>
  </div>
</md-content>
<div class="padding-large--vertical" layout="row" layout-align="center center" ng-show="proccecing||proccecingMore">
  <md-progress-circular class="md-padding" md-mode="indeterminate"></md-progress-circular>
</div>