extends base/index

block content
	div(ng-controller="mainController as vm" ng-cloak ng-app="webComics")
		md-toolbar.md-shade-1
				.md-toolbar-tools
					md-button.md-icon-button(
						aria-label='Back',
						ng-show="showComic",
						ng-click="vm.backToHome()"
					)
						i(class="material-icons" style='color: white;') keyboard_backspace
					h2(flex='', md-truncate='')
						span.blur(data-ng-show="showComic") {{nameBar}}
						img.blur(data-ng-hide="showComic" flex='' src="/assets/images/logo.svg", alt="")

					md-button.md-icon-button(aria-label='Favorite', ng-click="vm.goToFavorite()")
						i(
							class="material-icons",
							data-ng-style="favoritedCount ? { 'color': colorHeart } : { 'color': 'white' }",
						) favorite
		main(ui-view)

