.padding-large {
  padding-left: 40px;
  padding-right: 40px;

  &--vertical {
  padding-top: 40px;
  padding-bottom: 40px;
  }
}

.mv-0 {
  margin-top: 0 ;
  margin-bottom: 0 ;
}

.pv-0 {
  padding-top: 0 ;
  padding-bottom: 0 ;
}

$props-utilities: (
  "m": "margin",
  "p": "padding"
);

@each $nameProp, $prop in $props-utilities {
  @for $i from 0 through 3 {
    .#{$nameProp}-#{$i}   { #{$prop}: $i#{rem}; }
    .#{$nameProp}t-#{$i} { #{$prop}-top: $i#{rem}; }
    .#{$nameProp}r-#{$i} { #{$prop}-right: $i#{rem}; }
    .#{$nameProp}b-#{$i} { #{$prop}-bottom: $i#{rem}; }
    .#{$nameProp}l-#{$i} { #{$prop}-left: $i#{rem}; }
  }
}
