//- div(data-ng-controller="favoritesController as fv")
md-content.md-padding(layout-xs='column', layout='row', layout-wrap, class=" header-colorize-base")
	div(
		flex-xs='',
		flex-sm='50',
		flex-gt-sm="33",
		flex-gt-md="25",
		layout='column',
		data-ng-repeat="commic in fv.favoritesComics"
		data-ng-show="fv.favoritesComics"
		class="fade-in"
	)
		md-card(class="actions__wrapper-fixed")
			md-card-actions(
				layout='row',
				layout-align='end end'
				class="actions__fixed"
			)
				md-button.md-icon-button(aria-label='Favorite' data-ng-click='fv.removeFavorite(commic.id)')
					i(class="material-icons" style="color:red") remove_circle
			div.wrapper-card-image.actions__clickable(data-ng-click="showDetails(commic.id)" title="See more about {{ commic.title }}")
				span.md-card-image(
					role="img", data-ng-style="{'background-image':'url('+commic.thumbnail.path+'.'+commic.thumbnail.extension+')'}",
					alt='{{ commic.title }}'
				)
			md-card-title( layout-align='end center' )
				md-card-title-text.actions__clickable(data-ng-click="showDetails(commic.id)" title="See more about {{ commic.title }}")
					span.md-title {{ commic.title}}
				md-button.md-icon-button(
					aria-label='link',
					data-ng-href="{{commic.urls[0].url}}",
					target="_blank"
					title="View in Marvel Store"
				)
					i(class="material-icons" style='color: gray;') link
