md-content(class="md-padding padding-large bg-base")
	md-autocomplete(
		placeholder="What's you search?"
		md-min-length="3"
		md-delay="300"
		md-selected-item="selectedItem"
		md-search-text="searchText"
		md-items="item in vm.fetchCommics(searchText)"
		md-selected-item-change="vm.selectedItem(item)"
		md-item-text="item.title"
	)
		md-item-template {{item.title}}
		md-not-found No states matching

md-content.md-padding(layout-xs='column', layout='row', layout-wrap, class=" header-colorize-base", infinite-scroll="vm.loadMore()")
	div(
		flex-xs='',
		flex-sm='50',
		flex-gt-sm="33",
		flex-gt-md="25",
		layout='column',
		ng-repeat="commic in commics"
		ng-show="commics"
		class="fade-in"
	)
		md-card(class="actions__wrapper-fixed")
			md-card-actions(
				layout='row', 
				layout-align='end end' 
				class="actions__fixed"
			)
				md-button.md-icon-button(aria-label='Favorite' ng-click='favorite(commic)')
					i(class="material-icons" data-ng-style="commic.favorited ? { 'color': colorHeart, 'animation': 'bounce .3s linear' } : { 'color': 'white' }") favorite
			div.wrapper-card-image.actions__clickable(title="See more about {{ commic.title }}", ng-click="showDetails(commic.id)")
				span.md-card-image(
					role="img", data-ng-style="{'background-image':'url('+commic.thumbnail.path+'.'+commic.thumbnail.extension+')'}",
					alt='{{ commic.title}}'
				)
			md-card-title( layout-align='end center' )
				md-card-title-text.actions__clickable(title="See more about {{ commic.title }}" ng-click="showDetails(commic.id)")
					span.md-title {{ commic.title}}
				md-button.md-icon-button(
					aria-label='link',
					ng-href="{{commic.urls[0].url}}",
					target="_blank"
					title="View in Marvel Store"
				)
					i(class="material-icons" style='color: gray;') link
div(layout="row" layout-align="center center" class="padding-large--vertical" ng-show="proccecing||proccecingMore")
	md-progress-circular.md-padding(md-mode="indeterminate" )
