@keyframes bounce {
  0%   {transform: scale(1); }
  25%  { transform: scale(1.5); }
  50%  { transform: scale(1.5); }
  100% {transform: scale(1); }
}

@keyframes fadein {
  0%   { 
    transform: translateY(30px);
    opacity: 0;
  }
  100% { 
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blur {
  0%   {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.blur.ng-hide-remove { animation:0.5s blur ease; }
.fade-in.ng-hide-remove { animation:0.5s fadein ease; }

