doctype html
// [if lt IE 7]><html lang="pt-br" class="no-js lt-ie9 lt-ie8 lt-ie7" class="no-js"> <![endif]
// [if IE 7]><html lang="pt-br" class="no-js lt-ie9 lt-ie8" class="no-js"> <![endif]
// [if IE 8]><html lang="pt-br" class="no-js lt-ie9" class="no-js"> <![endif]
// [if gt IE 8]><!
html(lang="pt-br" class="no-js"  ng-app="webComics") <!--<![endif]-->
	head
		title WEB COMICS
		meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(charset='UTF-8')
		meta(name='theme-color' content="#212121")
		meta(name='description', content='')
		meta(name='rating', content='Geral')
		meta(name='expires', content='never')
		meta(name='distribution', content='Global')
		meta(name='revisit-after', content='1 Day')
		meta(name='copyright', content='')
		meta(name='language', content='pt-BR')

		base(href="/")
		link( rel="icon" type="image/png" href="assets/images/icons/favicon.png")
		link(rel="preload", href="//fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2", as="font", type="font/woff2", crossorigin)
		link(rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700")
		<!-- build:css assets/stylesheets/app.min.css -->
		link(rel="stylesheet" href="/node_modules/angular-material/angular-material.css")
		link(rel="stylesheet" href="/assets/stylesheets/app.css")
		<!-- endbuild -->
	body(ng-cloak)
		block content
		<!-- build:js assets/javascripts/app.min.js -->
		script(src="/node_modules/angular/angular.js")
		script(src="/node_modules/angular-material/angular-material.js")
		script(src="/node_modules/angular-animate/angular-animate.js")
		script(src="/node_modules/angular-aria/angular-aria.js")
		script(src="/node_modules/angular-ui-router/release/angular-ui-router.js")
		script(src="/node_modules/ng-infinite-scroll/build/ng-infinite-scroll.js")
		script(src="assets/javascripts/app.config.js")
		script(src="assets/javascripts/app.service.js")
		script(src="assets/javascripts/app.filter.js")
		script(src="assets/javascripts/app.controller.js")
		script(src="assets/javascripts/app.controller.list.js")
		script(src="assets/javascripts/app.controller.item.js")
		script(src="assets/javascripts/app.controller.favorites.js")
		<!-- endbuild -->
