.header-colorize {
  &-base {
    min-height: 100px;
    
    &:before {
      background: $color-base;
      content: '';
      display: block;
      height: 100px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
