.wrapper-card-image {
  @media(min-width: 600px){
    height: 300px;
  }

  @media(max-width: 599px){
    height: 350px;
  }

  @media(max-width: 400px){
    height: 270px;
  }

  overflow: hidden;
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  &:before {
    content: '';
    background: linear-gradient(to bottom, black,  transparent);
    width: 100%;
    height: 50%;
    position: absolute;
    opacity: .7;
    top:0;
    left:0;
  }

  .md-card-image{
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #252525;
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
}
